langchain
langchain-openai
langchain-core
langchain-community
streamlit
python-dotenv
langserve
fastapi
faiss-cpu
faiss-gpu
uvicorn
pydantic
sse_starlette
langchain-ollama
langchain_text_splitter
langchain-huggingface
sentence-transformers
faiss-cpu
requests